# for Mac OS X System Files
.DS_Store
Thumbs.db

# for IDEA
*/build/*
.idea
.idea/*
*.iml
/out/*
*/target
*/target/*
.logs/*
.logs
/config/*
# for Eclipse
*.project

# for Logs and databases
*.log

# remove SVN
.svn


# for Xcode
.*.swp
.clang_complete
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/


/project-contribute-web/package-lock.json
/.settings/

